* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(247, 242, 228);
}

header {
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

form button {
    padding: 0.5rem 1.5rem;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 0px;
    background-color: rgb(128, 128, 128);
    color: white;
}

header,
.content {
    display: flex;
    justify-content: space-around;
}

p,
.sections {
    text-align: justify;
}

.sections h3 {
    border-top: 2px solid black;
    background-color: rgb(143, 3, 3);
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h3,
header div,
form,
header p,
header a,
#addressText {
    text-align: center;
}

h1,
h3,
.profile p,
.sections .content {
    padding: 20px;
}

header {
    line-height: 3rem;
}

header a {
    text-decoration: none;
    color: rgb(143, 3, 3);
}

header a:hover {
    font-weight: bold;
    color: black;
}

.sections h3,
.sections .content img,
form button {
    cursor: pointer;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.div1 {
    grid-area: 1 / 1 / 3 / 3;
}

.div2 {
    grid-area: 3 / 1 / 4 / 2;
}

.div3 {
    grid-area: 3 / 2 / 4 / 3;
}

.div4 {
    grid-area: 1 / 3 / 2 / 4;
}

.div5 {
    grid-area: 2 / 3 / 3 / 4;
}

.div6 {
    grid-area: 3 / 3 / 4 / 4;
}

.div7 {
    grid-area: 1 / 4 / 2 / 5;
}

.div8 {
    grid-area: 2 / 4 / 3 / 5;
}

.div9 {
    grid-area: 3 / 4 / 4 / 5;
}

.div10 {
    grid-area: 4 / 1 / 5 / 2;
}

.div11 {
    grid-area: 4 / 2 / 5 / 3;
}

.div12 {
    grid-area: 4 / 3 / 5 / 4;
}

.div13 {
    grid-area: 4 / 4 / 5 / 5;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div11,
.div12,
.div13 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 {
    height: 300px;
}

.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
    height: 150px;
}

.styleTab {
    border-collapse: collapse;
    text-align: left;
}

.skills {
    width: 750px;
}

.skills,
.parcours,
.formation {
    overflow-x: auto;
    scrollbar-color: rgb(143, 3, 3) rgb(128, 128, 128);
}

.styleTab tr td {
    padding: 10px 20px 10px 5px;
    border: 1px solid black;
}


/* Desktop */

@media screen and (min-width: 900px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr 0.25fr 1fr 0.75fr;
        grid-column-gap: 5px;
        grid-row-gap: 0px;
    }
    .sections h3 {
        cursor: default;
    }
    form button {
        padding: 0.5rem 1.5rem;
        border: 1px solid black;
        border-radius: 0px;
        background-color: rgba(255, 255, 255, 0);
        color: black;
    }
    form button:hover {
        padding: 0.5rem 1.5rem;
        border: 1px solid rgb(128, 128, 128);
        border-radius: 0px;
        background-color: rgba(128, 128, 128, 1);
        color: white;
    }
    header {
        grid-area: 1 / 1 / 2 / 2;
        background-color: rgb(255, 243, 209);
    }
    .profile {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .coordonnees {
        grid-area: 2 / 1 / 3 / 2;
        background-color: rgb(255, 243, 209);
    }
    .competences {
        grid-area: 3 / 1 / 4 / 2;
        background-color: rgb(255, 243, 209);
    }
    .parcours {
        grid-area: 3 / 2 / 4 / 3;
    }
    .formation {
        grid-area: 4 / 2 / 5 / 3;
    }
    .interet {
        grid-area: 4 / 1 / 5 / 2;
        background-color: rgb(255, 243, 209);
    }
}